body {
  background-color: #52597A;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.stay,
.mission {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: indigo;
  margin: 0 !important;
}

.mission {
  color: blueviolet;
}

.vt-line {
  padding-left: 10px;
  border-left: 6px solid green;
}

.focused-22 {
  display: flex;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.m2022 {
  width: 80%;
  padding-right: 60px;
}

.expoler-button {
  text-decoration: none;
  background-image: linear-gradient(gray, white);
  padding: 10px 40px;
  color: orangered;
  font-weight: 700;
  margin-top: 60px !important;
  border-radius: 15px;
}

.more {
  padding-top: 0.5cm;
}

.the-second {
  display: flex;
  justify-content: center;

}

.mvg-1 h2,
.mvg-2 h2,
.mvg-3 h2 {
  font-size: 30px;
}

.mvg-1 p,
.mvg-2 p,
.mvg-3 p {
  font-size: 18px;
  text-align: justify;
}

.mvg-1 img,
.mvg-2 img,
.mvg-3 img {
  width: 150px;
}

.mvg-1,
.mvg-2,
.mvg-3 {
  width: 25%;
  border-radius: 30px;
  margin: 0 10px;
  padding: 30px 20px;
}

.mvg-1 {
  background-color: #C9F3E1;
  text-align: justify;
}

.mvg-2 {
  background-color: #F6BEE5;
  text-align: center;
}

.mvg-3 {
  background-color: #F7F694;
  text-align: center;
}

.the-three {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.develop {
  padding-left: 100px;
}

.larning {
  padding-right: 250px;
  text-align: justify;
}

.unique {
  margin-bottom: 250px;
}

.coding-pic {
  padding-left: 25px;
}

.project {
  padding-right: 60px;
}

.global {
  padding-right: 200px;
  padding-left: 50px;
  text-align: justify;
}

.corona-pic {
  padding-bottom: 200px;
}

.coding-pic img {
  width: 350px;
}

.safe {
  padding-top: 150px;
  padding-right: 150px;
  margin-right: 150px;
  text-align: justify;
}

.the-end {
  color: white;
  background-color: #060819;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.mission-font {
  font-family: 'Righteous', cursive;
}